.place-list-view li {
    padding: 0;
    border: 0 none;
    color: #e84c3d;
}

.place-list-view li div {
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, .1);
  border-width: 0 0 10px 0;
}

.place-list-view li .listview-selected,
.listview-selected {
    border-color: #1a77b6;
    background-color: #a3eaf1;
    color: #000;
    height:150px;
}
/* LOCATION VIEW STYLES */
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    z-index: 1;
}
.map-tools {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.map-tools > div {
    position: relative;
    left:0px;
    height: 100%;
}

.map-tools .map-tools-button {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}
.map-tools .map-tools-button:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -20px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}
.map-tools .map-tools-button.home {
    left: 0;
}
.map-tools .map-tools-button.search {
    right: 0;
}
.map-tools .map-tools-button.place {
    right: 40px;
}
.map-tools .map-tools-button.home:before { background-image: url(../styles/images/location.png); }
.map-tools .map-tools-button.home:active:before { background-image: url(../styles/images/location_active.png); }
.map-tools .map-tools-button.search:before { background-image: url(../styles/images/search.png); }
.map-tools .map-tools-button.search:active:before { background-image: url(../styles/images/search_active.png); }
.map-tools .map-tools-button.place:before { background-image: url(../styles/images/icon.png); }
.map-tools .map-tools-button.place:active:before { background-image: url(../styles/images/icon.png); }

.map-tools input[type=search].map-tools-input {
    height: 100%;
    width: 54%;
    margin: 0;
    padding: 0;
}
.km-wp .map-tools input[type=search].map-tools-input {
    width: 50%;
}

.str-off
{
	color: rgba(150, 150, 150, .5);
	font-size: 16px;
	text-decoration: none;
}
.str-hover
{
	color: #EAD61C;
	font-size: 16px;
	text-decoration: none;
}
.str-on
{
	color: rgba(244, 199, 77, .5);
	font-size: 16px;
	text-decoration: none;
}
.str-off:before
{
	content: "\2606";
}
.str-hover:before
{
	content: "\2605";
}

.str-on:before
{
	content: "\2605";
}
.share-icon
{
	color: White;
	font-size: 16px;
	text-decoration: none;
}
.share-icon:before,
.share-icon:after
{
	content: "\e0df";
}
.reply-rating
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	cursor: default;
	display: inline-block;
}

.reply-rating li
{
	margin: 0;
	padding: 0;
	display: inline-block;
	cursor: pointer;
}

.reply-rating li.reply-rating-star-full:after
{
	content: '\2605';
	font-family: Arial;
	font-size: 36px;
	color: orange;
}

.reply-rating li.reply-rating-star-empty:after
{
	content: '\e048';
	font-size: 36px;
	color: gray;
}

.km-drawer-button:after,
.km-drawer-button:before
{
	content: '\e077';
}

.km-drawer .km-content
{
	background-color: #fcfcfc;
}
.km-locate-button:after,
.km-locate-button:before
{
	content: '\e016';
}

.km-locate .km-content
{
	background-color: #fcfcfc;
}
.km-find-button:after,
.km-find-button:before
{
	content: '\e0e9';
}

.km-find .km-content
{
	background-color: #fcfcfc;
}
.round
{
	display: flex;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
}
.round img
{
	width: 100px; height: auto;
}
.round landscape
{
	width: auto; height: 100px;
}
.cover
{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;
}
.cover2
{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	overflow: hidden;
}
.video-thumbnail
{
	height: 100%;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
}.cf:before,
.cf:after
{
	content: '';
	display: table;
}
.cf:after
{
	clear: both;
}
.km-flat
{
	font-size: .95em;
}
.km-listinset,
.km-listgroupinset
{
	margin: 1em 2em;
}
#friendsApp .activities-view .km-listview,
#friendsApp .add-activity-view .km-listview,
#friendsApp .add-comment-view .km-listview
{
	margin: 1em;
}
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked
{
	background: #4d4d4d;
}
.km-flat .km-loader
{
	background-color: rgba(0, 0, 0, .75);
}
.km-flat .km-loader::before
{
	background: none;
}
#friendsApp.km-flat,
#friendsApp.km-flat .km-navbar,
#friendsApp.km-flat .km-content,
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week']
{
	font-family: 'Roboto', sans-serif;
}
#friendsApp.km-flat,
#friendsApp.km-flat .km-navbar,
#friendsApp.km-flat .km-content
{
	border: 0 none;
	color: #4d4d4d;
	background-color: #fff;
}
#friendsApp.km-flat .km-navbar
{
	background-color: #fff;
}
#friendsApp.km-flat .km-content
{
	color: #4d4d4d;
}
#friendsApp .hide-text
{
	text-indent: -999px;
	overflow: hidden;
}
.disabled
{
	position: relative;
	display: block;
}
.disabled:before
{
	content: '';
	position: absolute;
	top: 0;
	right: -1px;
	bottom: 0;
	left: -1px;
	z-index: 1;
}
/* Forms */

::-webkit-input-placeholder
{
	color: #4d4d4d;
}
:-moz-placeholder
{
	color: #4d4d4d;
}
::-moz-placeholder
{
	color: #4d4d4d;
}
:-ms-input-placeholder
{
	color: #4d4d4d;
}
#friendsApp.km-flat form .km-list > li,
#friendsApp .butn
{
	border-radius: 0;
    padding-right:5px;
}
#friendsApp.km-flat form .km-list > li
{
	margin: 0 0 1em;
	padding: .4em 0;
	border-width: 0 0 1px;
	border-color: #c9c9c9;
	background-color: #fff;
}
#friendsApp.km-flat .km-list input[type='text']:not(.k-input),
#friendsApp.km-flat .km-list input[type='password'],
#friendsApp.km-flat .km-list input[type='email'],
#friendsApp.km-flat .km-list input[type='date'],
#friendsApp.km-flat textarea,
#friendsApp.km-flat select
{
	position: static;
	width: 100%;
	height: 30px;
	font-size: 1rem;
}
#friendsApp.km-flat.km-on-wp .km-list input[type='text']:not(.k-input),
#friendsApp.km-flat.km-on-wp .km-list input[type='password'],
#friendsApp.km-flat.km-on-wp .km-list input[type='email'],
#friendsApp.km-flat.km-on-wp .km-list input[type='date'],
#friendsApp.km-flat.km-on-wp textarea,
#friendsApp.km-flat.km-on-wp select
{
	padding: 0 .4em;
}
#friendsApp.km-flat select
{
	padding: .4em .2em;
}
#friendsApp.km-flat.km-on-wp select
{
	padding: 0 .2em;
}
/* Buttons */

#friendsApp .btn
{
	position: relative;
	margin: 0 -1px;
	padding: .8em 0;
	border: 0 none;
	color: #fff;
	font-size: 1rem;
	background-color: #1976d2;
}
#friendsApp .disabled .btn
{
	opacity: .35;
}
#friendsApp .btn-login
{
	background-color: #cf393a;
    border-radius:3px;
    color:white;
    position:relative;
    z-index: 10;
}
#friendsApp .btn-register
{
	background-color: #39ae2a;
    border-radius:3px;
    color:white;
    position:relative;
    z-index: 10;
}
#friendsApp .btn-continue
{
	background-color: #e4a830;
    border-radius:3px;
    color:white;
    position:relative;
    z-index: 10;
}
#friendsApp .btn-view
{
	background-color: #000000;
    color:white;
    margin-bottom:15px;
}
#friendsApp .signup-view .btn-signup,
#friendsApp .update-view .btn-update,
#friendsApp .btn-delete
{
	display: block;
	text-align: center;
}
#friendsApp .btn-delete
{
	background-color: #e84c3d;
}
#friendsApp .nav-button
{
	border: 0 none;
	background-color: transparent;
}
#friendsApp .nav-button-icon
{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#friendsApp .nav-button-back
{
	background-image: url(images/icon-arrow.png);
}
#friendsApp .nav-button-back-d
{
	background-image: url(images/icon-arrow_dark.png);
}
#friendsApp .nav-button-comment
{
	background-image: url(images/icon-comment.png);
}
#friendsApp .nav-button-chat
{
	background-image: url(images/share.png);
}
#friendsApp .nav-button-notify
{
	background-image: url(images/notify.png);
}
#friendsApp .nav-button-delete
{
	background-image: url(images/icon-delete.png);
}
#friendsApp .nav-button-camera
{
	background-image: url(images/camera.png);
}
#friendsApp .nav-button.km-state-active
{
	color: #000;
}
#friendsApp .activity-view .user-status-wrp .km-navbar .nav-button,
#friendsApp .activity-view .user-status-wrp .km-navbar .nav-button.km-state-active
{
	color: #fff;
}
/* App Header */

#friendsApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header
{
	min-height: 20px;
	background-color: #4d4d4d;
}
#friendsApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-navbar
{
	margin-top: 20px;
	padding-top: .5em;
}
#friendsApp.km-flat .km-header .km-navbar
{
	min-height: 3.15em;
}
#friendsApp.km-flat .km-header .km-navbar
{
	border-bottom: 1px solid #c9c9c9;
}
#friendsApp.km-flat .km-header .km-view-title
{
	font-size: 1.3em;
}
/* Welcome screen */

#friendsApp .app-name
{
	margin-top: 1.5em;
}
#friendsApp .app-name
{
	width: 127px;
	height: 119px;
	margin: 1.5em auto;
	text-indent: -9999px;
	background: transparent url(images/icon.png) no-repeat 0 0;
	overflow: hidden; 
	background-size: contain;
}
#friendsApp .app-name small
{
	display: block;
	font-weight: 400;
	font-size: 1.15rem;
}
.group-wrp
{
	margin: 0 2em;
	padding: 0;
	text-align: center;
	list-style-type: none;
}
.welcome-scrn .group-wrp li
{
	margin: 1.5em 0 0;
}
.welcome-scrn .group-wrp li:first-child
{
	margin-top: 0;
}
.welcome-scrn .group-wrp .btn
{
	display: block;
}
.welcome-scrn .group-wrp .oauth
{
	margin-right: -1%;
	margin-left: -1%;
}
.group-wrp .oauth .oauth-item
{
	float: left;
	width: 23%;
	margin: 0 1%;
}
.group-wrp .oauth .btn
{
	height: 45px;
	padding-top: 1.1em;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	overflow: hidden;
}
#friendsApp  .group-wrp .oauth .btn-facebook
{
	background-image: url(images/logo-facebook.png);
}
.group-wrp .oauth .btn-google
{
	background-image: url(images/logo-google.png);
}
.group-wrp .oauth .btn-windows
{
	background-image: url(images/logo-windows.png);
}
.group-wrp .oauth .btn-adfs
{
	background-image: url(images/logo-adfs.png);
}
.group-wrp .oauth .btn span,
.group-wrp .btn-signup span,
.group-wrp .btn-update span
{
	font-weight: 500;
	font-size: 1rem;
}
.group-wrp .btn-signup,
.group-wrp .btn-update
{
	border: 0 none;
	background-color: transparent;
}
/* No API Key screen */

#friendsApp .noappid-scrn h3
{
	line-height: 1.25;
}
#friendsApp .noappid-scrn p
{
	line-height: 1.5;
}
#friendsApp .noappid-scrn p strong,
#friendsApp .noappid-scrn p span
{
	color: #000;
}
#friendsApp .noappid-scrn p span
{
	font-weight: 600;
}
/* Signup */

#friendsApp.km-flat textarea
{
	float: none;
	height: auto;
	margin: 0;
	resize: none;
}
#friendsApp .signup-view .signup-btn-wrp,
#friendsApp .update-view .update-btn-wrp
{
	margin: 0 2em;
}
#friendsApp .signup-view .select-wrp select,
#friendsApp .update-view .select-wrp select
{
	color: #4d4d4d;
}
#friendsApp .signup-view .select-wrp option:first-child,
#friendsApp .update-view .select-wrp option:first-child
{
	color: #b6c5c6;
}
/* Activities */

#friendsApp .activity-view .user-status-wrp .km-navbar
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding-top: .5em;
	background-color: transparent;
}
#friendsApp .activity-view .user-status-wrp .content
{
	padding: 1em;
}
#friendsApp .activity-view .activity-content
{
	padding: 0;
}
#friendsApp .activity-view .activity-content > span
{
	padding: 1em 0;
}
#friendsApp .activity-view .user-info
{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 0 1em .5em;
}
#friendsApp .activity-view .user-info .person-name,
#friendsApp .activity-view .user-info .time-span
{
	color: #fff;
}
#friendsApp .activity-view .user-info .person-name
{
	display: inline-block;
	float: left;
	margin: 1.65em 0 0 -2em;
	min-width: 80px;
	font-size: .85em;
}
#friendsApp .activity-view .user-info .time-span
{
	display: inline-block;
	float: right;
	min-width: 80px;
	margin: 1.75em 0 0 0;
	font-size: .8em;
	text-align: right;
}
#friendsApp .activities-view .km-list > li,
#friendsApp .activity-view .km-list > li
{
	padding: .75em 0 1em;
	border-width: 0;
	color: #4d4d4d;
	background-color: #fff;
	box-shadow: none;
	overflow: visible;
}
#friendsApp .activities-view .km-list > li
{
	position: relative;
	border-width: 0;
}
#friendsApp .activities-view .km-list > li::before,
#friendsApp .activity-view .km-list > li::before
{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 4.5em;
	display: block;
	height: 1px;
	border-bottom: 1px solid #eaeced;
}
#friendsApp .activities-view .km-list > li:first-child::before
{
	display: none;
}
#friendsApp .activity-view .km-list > li::before
{
	left: 5em;
}
#friendsApp .activity-view .comments-wrp
{
	margin-top: 1em;
}
#friendsApp .activities-view .km-list > li:first-child
{
	padding-top: 0;
}
#friendsApp .user-avatar
{
	float: left;
	width: 80px;
}

#friendsApp .user-avatar div
{
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	border-radius: 25px;
}
#friendsApp .user-avatar img
{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
#friendsApp .activity-content,
#friendsApp .comment-content
{
	position: relative;
	padding-left: 5em;
	font-size: .85rem;
}
#friendsApp .activity-content .picture
{
	margin: 0 0 1em;
}
#friendsApp .person-name,
#friendsApp .activity-content .time-span
{
	font-weight: 600;
}
#friendsApp .person-name
{
	display: block;
	margin: 0 0 .5em;
	color: #e91e63;
	font-size: 1.1rem;
}
#friendsApp .person-name
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#friendsApp .activity-content .time-span
{
	display: block;
	color: #a6a6a6;
	font-size: .7rem;
	text-transform: uppercase;
}
#friendsApp .activity-content .comment-content .time-span
{
	top: 12px;
	font-size: .6rem;
}
#friendsApp .user-share-txt
{
	display: block;
	margin-bottom: 1em;
	color: #4d4d4d;
	line-height: 1.5;
	word-wrap: break-word;
}
#friendsApp .activities-view .person-name,
#friendsApp .activity-view .person-name,
#friendsApp .add-activity-view .person-name,
#friendsApp .add-comment-view .person-name
{
	margin: .85em 0 1em;
}
#friendsApp .add-activity-view .person-name,
#friendsApp .add-comment-view .person-name
{
	padding-left: .75em;
}
#friendsApp .activity-view .picture-wrp
{
	position: relative;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	background: transparent url(images/default-image.jpg) no-repeat 50% 50%;
	background-size: cover;
	overflow: hidden;
}
#friendsApp .activity-view .picture-wrp::before
{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: auto;
	height: 300px;
	background: transparent url(images/background-picture.png) repeat-x 0 0;
	height: 100%;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
}
#friendsApp .activity-view .picture
{
	position: relative;
	top: 50%;
	left: 50%;
	width: auto;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#friendsApp .add-activity-view .km-leftitem,
#friendsApp .add-comment-view .km-leftitem
{
	left: 1em;
}
#friendsApp .add-activity-view .km-rightitem,
#friendsApp .add-comment-view .km-rightitem,
#friendsApp .activity-view .km-rightitem
{
	right: 1em;
}
#friendsApp.km-black-translucent-status-bar .km-navbar .km-leftitem,
#friendsApp.km-black-translucent-status-bar .km-navbar .km-rightitem
{
	font-size: .85em;
	text-transform: uppercase;
}
#friendsApp.km-black-translucent-status-bar .km-navbar .km-leftitem .fa,
#friendsApp.km-black-translucent-status-bar .km-navbar .km-rightitem .fa
{
	font-size: 1.8em;
}
#friendsApp .k-invalid-msg
{
	display: none;
	margin: 1rem 0 0;
	padding: 0;
	color: #e84c3d;
}
#friendsApp.km-flat.km-on-wp .activities-view,
#friendsApp.km-flat.km-on-wp .activity-view,
#friendsApp.km-flat.km-on-wp .add-activity-view,
#friendsApp.km-flat.km-on-wp .add-comment-view
{
	margin-top: 30px;
}
/* Retina Images */

@media (min-resolution: 1.5dppx) ,
(-webkit-min-device-pixel-ratio: 1.5) ,
(min--moz-device-pixel-ratio: 1.5) ,
(min-resolution: 144dpi)
{
	#friendsApp .app-name
	{
		background-image: url(images/icon.png);
		background-size: 120px 150px;
		background-position: center;
		background-size: contain;
	}
	#friendsApp .nav-button,
	#friendsApp .welcome-scrn .group-wrp .oauth .btn
	{
		background-size: 40px 40px;
	}
	#friendsApp .nav-button-back
	{
		background-image: url(images/icon-arrow@2x.png);
	}
	#friendsApp .nav-button-back-d
	{
		background-image: url(images/icon-arrow_dark@2x.png);
	}
	#friendsApp .nav-button-comment
	{
		background-image: url(images/icon-comment@2x.png);
	}
	#friendsApp .nav-button-chat
	{
		background-image: url(images/share.png);
	}
	#friendsApp .nav-button-delete
	{
		background-image: url(images/icon-delete@2x.png);
	}
	#friendsApp .welcome-scrn .group-wrp .oauth .btn-facebook
	{
		background-image: url(images/logo-facebook@2x.png);
	}
	#friendsApp .welcome-scrn .group-wrp .oauth .btn-google
	{
		background-image: url(images/logo-google@2x.png);
	}
	#friendsApp .welcome-scrn .group-wrp .oauth .btn-windows
	{
		background-image: url(images/logo-windows@2x.png);
	}
	#friendsApp .welcome-scrn .group-wrp .oauth .btn-adfs
	{
		background-image: url(images/logo-adfs@2x.png);
	}
}