<div data-role="view" id="single-activity" data-layout="default" data-zoom="true" class="activity-view" data-init="app.Activity.init" data-show="app.Activity.show">
	<div data-role="header"></div>
	<div id="status-container" class="user-status-wrp cf">
		<div data-role="navbar">
			<a class="nav-button nav-button-icon nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
			<a class="nav-button nav-button-icon nav-button-comment hide-text" data-align="right" data-role="button" data-click="app.Activity.addComment">Comment</a>
			<a class="nav-button nav-button-icon nav-button-delete hide-text" data-align="right" data-role="button" data-bind="visible: isVisible" data-click="app.Activity.remove">Delete</a>
		</div>
		<div class="picture-wrp">
			<img id="picture" data-bind="attr:{src: PictureUrl()}" width="100%">
			<div class="user-info">
				<div class="user-avatar">
					<div data-bind="style:{backgroundImage: User().urlPictureUrl}"></div>
				</div>
				<h2 id="personName" class="person-name" data-bind='text: User().DisplayName'></h2>
				<span id="activityDate" class="time-span" data-bind="text: CreatedAtFormatted"></span>
			</div>
		</div>
		<div class="content">
			<div class="activity-content">
				<span id="activityText" data-bind="text: Text" class="user-share-txt"></span>
				<div id="enterComment" class="share-form-wrp" data-role="listview" data-style="inset" style="display: none">
					<div class="cf">
						<div class="user-share">
							<textarea id="newComment" style="background-color: azure;font-style: italic;border: 1;" placeholder="What's your opinion?" required validationMessage="Comment text is required!"></textarea>
							<div>
								<a id="cycle" class="str-on" data-role="button" data-click="app.Activity.addStar">Stars</a>
								<a style="visibility: hidden" id="one" class="str-hover" ></a>
								<a style="visibility: hidden" id="two" class="str-hover" ></a>
								<a style="visibility: hidden" id="three" class="str-hover" ></a>
								<a style="visibility: hidden" id="four" class="str-hover"  ></a>
								<a style="visibility: hidden" id="five" class="str-hover"  ></a>
							</div>
							<a class="btn" data-role="button" data-click="app.Activity.saveComment" style="margin: 20px; padding:10px">Save this Comment</a>
						</div>
					</div>
				</div>

				<div data-role="layout" data-id="default">
					<!--View content will render here-->
				</div>
				<div class="comments-wrp">
					<ul id="comments-listview"></ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Comments Template -->
<script type="text/x-kendo-template" id="commentsTemplate">
	<table>
		<tr>
			<td>
				<div class="user-avatar">
					<div style="background-Image: url('#: User().PictureUrl #');"></div>
				</div>
			</td>
			<td>
				<div>
					<a class="user-share-txt" style="margin: 0 0 0 -2em">
						<i> #: Comment # </i>....<b> #: User().DisplayName # </b>
					</a>
				</div>
			</td>
		</tr>
	</table>
</script>