<div data-role="view" id="updateAvatar" data-layout="default" class="update-view" data-model="app.avatar" data-init="app.avatar.init" data-show="app.avatar.show" data-hide="app.avatar.hide">
	<div data-role="header">
		<div data-role="navbar">
			Avatar
			<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button" data-badge="2"></a>
		</div>
	</div>

	<div style="padding:15px; margin: 10px">
		<table id="updateAvatar-form">
			<thead>
				<input type="text" id="updateAvatarName" data-bind="value: DisplayName">
			</thead>
			<tr>
				<td span="2">
					<!--
					<div class="cover">
					<div id="avatarImage" data-bind="style:{backgroundImage: PictureUrl}" class="video-thumbnail"></div>
					</div>-->

					<img id="updateAvatarImage" data-bind="attr: { src: aPictureUrl}" width="100px" >
				</td>
				<td >
					<a class="btn" data-align="right" data-role="button" data-bind="click: showImage" style="margin: 20px; padding:10px">
						Change the Avatar!
					</a>
				</td>
			</tr>
		</table>
		<p>Use the above to take a Selfie or any other image that becomes your own Avatar</p>
		<div id="updateBtnWrp" class="update-btn-wrp disabled" style="padding:15px; margin: 10px">
			<a class="btn btn-update" data-role="button" data-bind="click: update">Save and Update</a>
		</div>
	</div>

</div>