<div data-role="view" data-title="Add" data-model="app.home.addItemViewModel" data-bind="events: { show: onShow }" id="homeModelAddItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- END_CUSTOM_CODE_homeModel -->
    <div id="editableListForm7" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Name</span>

                        <input id="place" data-bind="value: addFormData.place" placeholder="Business Name" type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Text field</span>
                        <input id="textField" data-bind="value: addFormData.textField" placeholder="Summary  ..." type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Address</span>

                        <input id="address" data-bind="value: addFormData.address" placeholder="Type here ..." type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Phone</span>

                        <input id="tel" data-bind="value: addFormData.tel" placeholder="+123 444 555 666" type="tel">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Email</span>

                        <input id="email" data-bind="value: addFormData.email" placeholder="example@example.com" type="email">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>url</span>

                        <input id="www" data-bind="value: addFormData.www" placeholder="http://www.example.com" type="url">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Icon</span>

                        <input id="icon" data-bind="value: addFormData.icon" placeholder="http://www.example.com" type="url">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Location (Lng/Lat)</span>

                        <input id="longitude" data-bind="value: addFormData.longitude" placeholder="Type here ..." width=50% type="text">
						<input id="latitude" data-bind="value: addFormData.latitude" placeholder="Type here ..." width=50% type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Html</span>

                        <input id="html" data-bind="value: addFormData.html" placeholder="Type here ..." type="text">
                    </label>

                </li>
                <li class="form-content-item">
                    <label class="km-label-above">
                        <span>Id</span>
                        <input id="id" data-bind="value: addFormData.id" placeholder="Type here ..." type="text">
                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm7 -->
        <!-- END_CUSTOM_CODE_editableListForm7 -->
    </div>
</div>