<div data-role="view" data-title="Details" data-model="app.home.homeModel" data-bind="events: { show: detailsShow }" id="homeModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;">Detail</span>
            <a data-role="button" data-align="right" data-bind="events: { click: likeClick}">Join In</a>
        </div>
    </header>

    <div class="image-with-text">
        <img data-bind="attr: { src: currentItem.ImageUrl, href: currentItem.Website}" data-style="inset" style="padding: 0 0 0 15px" width="35%" height="auto">
        <h3 data-bind="text: currentItem.Place"></h3>
        <p data-bind="text: currentItem.Description"></p>
        <div class="iw-title"></div>
        <div class="iw-content"></div>

        <p class="editableListItem">
            <span>
                <img src="styles/images/googleMap.png" alt="Google" height="auto" width="25%" data-bind="attr:{href:currentItem.url}">
            </span><span data-bind="html: currentItem.Address"></span>
        </p>
        <p class="editableListItem"><span><img src="styles/images/phone2.png" alt="phone" height="auto" width="25%" data-bind="events: { click: onSaveClick }"></span><span data-bind="html: currentItem.Phone"></span></p>
        <p class="editableListItem">
            <span>
                <img src="styles/images/facebook2.png" alt="Facebook" height="auto" width="25%">
            </span><span data-bind="html: currentItem.Email"></span>
        </p>
        <p class="editableListItem"><span><img src="styles/images/icon.png" alt="On2See" height="auto" width="25%"></span><span data-bind="html: currentItem.Location"></span></p>
    </div>

    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_homeModel -->
</div>
