<div data-role="layout" data-id="main">
	<header data-role="header">
		<div data-role="navbar">
			<span data-role="view-title"></span>
			<!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->
			<a data-role="backbutton" data-align="left">Back</a>
			<!--a data-role="button" data-align="right" data-click="app.helper.openExternalInAppBrowser('http://on2see.blogspot.com')">Blog</a-->
		</div>
	</header>
</div>

<div data-role="layout" data-id="main-nonav">
	<header data-role="header">
		<div data-role="navbar">
			<span data-role="view-title"></span>
		</div>
	</header>
</div>
<div data-role="view" data-title="Alerts" data-layout="main" data-model="app.notifications" data-show="app.notifications.onShow" data-after-show="app.notifications.afterShow">

	<!-- START_CUSTOM_CODE_notifications -->
	<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

	<!-- END_CUSTOM_CODE_notifications -->
	<ul data-role="listview" data-auto-bind="false" data-style="inset" data-template="notificationsModelTemplate" data-bind="{ source: notificationsModel.dataSource, events: {click: notificationsModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="false">
	</ul>
	<!-- START_CUSTOM_CODE_notificationsModel -->
	<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

	<!-- END_CUSTOM_CODE_notificationsModel -->
	<script type="text/x-kendo-template" id="notificationsModelTemplate">
		<div class="image-with-text">
			<h3>#: data['Reference'] #</h3>
			<img src="#: data['PictureUrl'] #" width="30%" height="30%">
			<p>#: data['Place'] #</p>
			<p>
				<small>#: app.formatDate(data['Date']) #</small>
			</p>
		
		</div>
		<!--p class="editableListItem"><span>Status</span><span>#: data['Status'] #</span></p-->
	</script>
</div>