<div class="iw-title"></div><div class="iw-content">
    <div class="iw-subTitle">Name</div><a data-role="button" class="butn" href="components/activities/view.html?partner=Name" );">
        <img src="styles/images/star.png" alt="Star" height="auto" width="10%">
    </a>
</div>
<div class="button-group button-group-horizontal">
    <a data-role="button" class="butn" data-rel="external" href="tel:+Phone">
        <img src="styles/images/phone.png" alt="phone" height="auto" width="30%">
    </a>
    <span>Phone</span>
</div>
<div class="button-group button-group-horizontal">
    <a data-role="button" class="butn" data-rel="external" onclick="test(\'WebSite\')">
        <img src="Icon" alt="Logo" height="auto" width="30%">
    </a>
    <a data-role="button" class="butn" href="components/activities/view.html?partner=Name" );">
        <img src="styles/images/icon.png" alt="On2See" height="auto" width="30%">
    </a>
    <a data-role="button" class="butn" data-rel="external" onclick="test(\'https://twitter.com?q=Twitter\');">
        <img src="styles/images/twitter.png" alt="Twitter" height="auto" width="30%">
    </a>
</div>
<div class="button-group button-group-horizontal">
    <a data-role="button" class="butn" onclick="test(\'https://www.google.com/maps/place/Google\');" );">
        <img src="styles/images/googleMap.png" alt="Google" height="auto" width="30%">
    </a>
    <a data-role="button" class="butn" data-rel="external" onclick="test(\'https://www.facebook.com/Facebook\');">
        <img src="styles/images/facebook2.png" alt="Facebook" height="auto" width="30%">
    </a>
    <a data-role="button" class="butn" data-rel="external" onclick="test(\'https://www.yelp.com/Yelp\');">
        <img src="styles/images/yelp_64.png" alt="Yelp" height="auto" width="30%">
    </a>
</div>