
<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="iw-content">
			<div class="iw-subTitle">Little Havana Restaurant</div>
			<div>
				<a data-role="button" class="butn" data-rel="external" href="tel:(954) 427-6000">
					<img src="styles/images/phone2.png" alt="phone" height="auto" width="15%"/>
				</a>
				<small>721 S Federal Hwy, Deerfield Beach, FL 33441, United States, (954) 427-6000<strong> Open Now</strong> ... <strong>5</strong> reviews and <strong>4.1</strong> stars, about <strong>4.21</strong> miles (ATCF). <br/>$</small>
			</div>
			<div>
				<br/>
				<a data-role="button" class="butn" href="components/activities/view.html?partner=Little Havana Restaurant">
					<img src="styles/images/on2see-icon-120x120.png" alt="On2See" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn"
				   href="components/aboutView/view.html?Name=Little%20Havana%20Restaurant&amp;email=newpartner@on2t.com&amp;longitude=-80.09294950000003&amp;latitude=26.3082382&amp;html=hhhhh&amp;icon=styles/images/avatar.png&amp;address=721%20S%20Federal%20Hwy,%20Deerfield%20Beach,%20FL%2033441,%20United%20States&amp;textField=I%20do%20recommend%20this%20place,%20best%20cuban%20food%20in%20the%20area.%20And%20Im%20cuban%20so...%0AThe%20service%20is%20pretty%20fast.%20Thats%20really%20good%20too.&amp;www=http://www.littlehavanarestaurant.com/&amp;tel=(954)%20427-6000&amp;placeId=ChIJCQxPLoHi2IgR4b-PLm4569g">
					<img src="styles/images/thumb_up.png" alt="On2See" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" href="components/notifications/view.html?partner=Little Havana Restaurant">
					<img src="styles/images/green-share.png" alt="On2See" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" onclick="test('https://www.google.com/maps/place/Little+Havana+Restaurant');">
					<img src="styles/images/googleMap.png" alt="Google" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" data-rel="external" onclick="test('https://twitter.com/search?q=Little%20Havana%20Restaurant');">
					<img src="styles/images/twitter.png" alt="Twitter" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" data-rel="external" onclick="test('https://www.yelp.com/biz/Little-Havana-Restaurant-Deerfield-Beach');">
					<img src="styles/images/yelp_64.png" alt="Yelp" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" data-rel="external" onclick="test('https://www.facebook.com/Little-Havana-Restaurant');">
					<img src="styles/images/facebook2.png" alt="Facebook" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" data-rel="external" onclick="test('http://www.littlehavanarestaurant.com/')">
					<img src="styles/images/avatar.png" alt="Logo" height="auto" width="15%"/>
				</a>
			</div>
		</div>
	</body>
</html>