
<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="iw-content">
			<div class="iw-subTitle">JByrd's Muddy Waters Restaurant &amp; Raw Bar</div>
			<div>
				<a data-role="button" class="butn" data-rel="external" href="tel:19544286477">
					<img src="styles/images/phone2.png" alt="phone" height="auto" width="15%"/>
				</a>
				<small>Shoppes of Hillsboro, 2237 W Hillsboro Blvd, Deerfield Beach, FL 33442,</small>
			</div>
			<div>
				<br/>
				<a data-role="button" class="butn" href="components/activities/view.html?partner=JByrd's Muddy Waters Restaurant &amp; Raw Bar">
					<img src="styles/images/on2see-icon-120x120.png" alt="On2See" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" href="components/partners/view.html?partner=JByrd's Muddy Waters Restaurant &amp; Raw Bar">
					<img src="styles/images/thumb_up.png" alt="On2See" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" href="components/notifications/view.html?partner=JByrd's Muddy Waters Restaurant &amp; Raw Bar">
					<img src="styles/images/green-share.png" alt="On2See" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" onclick="test('https://www.google.com/maps/place/JByrds+Muddy+Waters+Restaurant+&amp;+Raw+Bar');">
					<img src="styles/images/googleMap.png" alt="Google" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" data-rel="external" onclick="test('https://twitter.com/search?q=JByrd%27s%20Muddy%20Waters%20Restaurant%20&amp;%20Raw%20Bar');">
					<img src="styles/images/twitter.png" alt="Twitter" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" data-rel="external" onclick="test('https://www.yelp.com/biz/JByrds-Muddy-Waters-Restaurant-&amp;-Raw-Bar-2237-W Hillsboro Blvd');">
					<img src="styles/images/yelp_64.png" alt="Yelp" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" data-rel="external" onclick="test('https://www.facebook.com/JByrds-Muddy-Waters-Restaurant-&amp;-Raw-Bar');">
					<img src="styles/images/facebook2.png" alt="Facebook" height="auto" width="15%"/>
				</a>
				<a data-role="button" class="butn" data-rel="external" onclick="test('http://muddywatersrestaurant.com/')">
					<img src="http://bs2.cdn.telerik.com/v1/3t5oa8il0d0y02eq/aada41b0-b86b-11e5-98ad-536d62dca0b1" alt="Logo" height="auto" width="15%"/>
				</a>
			</div>
		</div>
	</body>
</html>