<div id="place-list" class="view place-list" data-role="view" data-model="app.Places" data-show="app.Places.listShow">
    <div data-role="header">
        <div data-role="navbar">
            List
            <a data-role="backbutton" data-align="left">Back</a>

            <a data-role="button" data-align="left" data-icon="globe" href="views/listView.html"></a>

            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->
            <a id="addButton" class="nav-button" data-align="right" data-role="button" data-icon="globe" href="views/mapView.html"></a>
        </div>
    </div>

    <ul id="places-listview" class="place-list-view" data-role="listview" data-click="app.Places.onSelected"></ul>
</div>