
<div id="place-list" class="view place-list" data-role="view" data-model="app.Places.locationViewModel" data-show="app.Places.listShow">
	<div data-role="header">
		<div data-role="navbar"> List <a data-role="button" data-align="left" href="#views/mapView.html">Back</a>
			<a data-role="button" data-align="right"
				data-icon="globe" data-click="app.Places.browse"></a>
		</div>
	</div>
	<ul id="places-listview" class="place-list-view" data-role="listview" data-click="app.Places.onSelected"></ul>
</div>