<!--Location View-->
<div id="tabstrip-location"
	 data-role="view"
	 data-title="Location"
	 data-init="app.Places.initLocation"
	 data-show="app.Places.show"
	 data-hide="app.Places.hide"
	 data-model="app.Places.locationViewModel"
	 data-stretch="true">
	<script>
	</script>
	<div data-role="header">
		<div data-role="navbar" id="navbarTitle">
			<a id="listButton" data-role="button" data-align="left" data-icon="more" data-click="app.Places.locationViewModel.openActionSheet">			
			</a>
			<input id="map-address" style="margin-right:10px; padding-left:-20px; width:60%" type="search" data-bind="value: find" placeholder="Search for ..." />
			<a data-role="button" data-align="right" data-icon="search" data-bind="click: onPlaceSearch">				
            </a>		
		</div>
	</div>
	<div id="map-canvas" class="map" data-bind="visible: isGoogleMapsInitialized" ></div>
	<div id="map-directions" class="map" data-bind="visible: isGoogleDirectionsInitialized" ></div>
	<div id="right-panel" data-style="inset" style="{
          width: 90%;
    	  overflow: scroll;
        }" data-bind="visible: isGoogleDirectionsTextInitialized" ></div>
	<!--div id="no-map" data-bind="invisible: isGoogleMapsInitialized">
		<h3>Location requires internet connection to display the map.</h3>
	</div-->
</div>
