<div 
	id="media-list" 
	class="view media-view" 
	data-role="view" 
	data-model="app.Update.viewModel">
	<div data-role="header">
		<div data-role="navbar"> My Media
		<a data-role="backbutton" data-align="left">Back</a> 
		<a id="logoffButton" style="display:" data-role="button" href="#components/aboutView/view.html" data-align="right">Upgrade</a> 
		<a id="saveMedia" style="display: none" data-align="left" data-role="button" data-click="app.Update.update">Save</a>			</div>
	</div>
    <div><h3 data-style="inset" >
	<span data-bind="text: myMediaHeading"></span></h3>
		<ul id="media-listView" data-role="listview" data-template="favoriteTemplate" data-style="inset" data-bind="source: ds"></ul>
	</div>
	<!-- Activities ListView Template -->
	<script type="text/x-kendo-template" id="favoriteTemplate"> 
		<b><font size=3 data-bind="text: name"></font> 
		<input id="#:name#-switch" data-role="switch" 
		data-bind="events: { change: onVmChange }, checked: selected" data-on-label="ON" data-off-label="OFF"/>
	</b></script>
</div>