<div id="on2t-locations"
     data-role="view"
     data-title="Endorsed"
     data-stretch="true"
     data-init="app.on2tClients.initClients"
     data-show="app.on2tClients.showClients">
     
     <!--data-init="app.on2tClients.clientViewModel.init"-->
    <!--data-hide="app.Places.hide"
     data-model="app.Places.locationViewModel"-->
     
    <div data-role="header">
        <div data-role="navbar" id="navbarTitle">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button" ></a>
            <input id="map-address" style="margin-right:8px" type="search" data-bind="value: find" data-align="right" placeholder="Search for ..." />
            <a data-role="button" data-align="right" data-icon="search" data-bind="click: onPlaceSearch"></a>
        </div>
    </div>

    <div id="on2tmap-canvas" />
    </div>
