
<div id="plocation"
     data-role="view"
     data-title="Place"
     data-show="app.aPlace.show">
    <div data-role="header">
        <div data-role="navbar" id="navbarTitle">
            <input id="map-address" style="margin-right:10px; padding-left:-20px; width:60%" type="search" data-bind="value: find" placeholder="Search for a place..." />
            <a data-role="button" data-align="right" data-icon="search" ></a>
            <a data-role="button" data-align="left" data-icon="globe" href="views/listView.html"></a>
        </div>
    </div>
    <div id="map" class="map" data-bind="visible: true" ></div>
    </div>
