<div data-role="view" id="update" data-layout="default" class="update-view" data-model="app.Update" data-init="app.Update.init"
	data-show="app.Update.show" data-afterShow="app.Update.afterShow">
	<div data-role="header">
		<div data-role="navbar"> Me
			<!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button" ></a>--><a data-role="backbutton" data-align="left">Back</a> <a id="logoffButton" style="display:" data-role="button" data-click="app.helper.logout"
				data-align="right">Logout</a> <a id="saveButton" style="display: none" data-align="left" data-role="button" data-click="app.Update.update">Save</a>			</div>
	</div>
	<form id="update"><font size=3> 
		<ul id="update-form" data-role="listview" data-style="inset">
			<!--<li class="txtarea-wrp">
                <label>
                    Notes: <textarea id="updateInfo" data-bind="value: About" placeholder="Add your own note."></textarea>
                </label>
            </li>-->
			<li>
				<table>
					<tr>
						<td>
							<div id="enterEvent" data-style="inset"> <canvas id="updateCanvas" width="100" height="100" style="border:1px solid #d3d3d3; padding:0px;top:0;bottom: 0;left: 0;right: 0;margin:auto;">
                                    Your browser does not support the HTML5 canvas tag.
                                </canvas> </div>
							<div hidden> <img id="updateImage" data-bind="attr: { src: aPictureUrl}" width="100px" onload="app.Update.crop()"> </div>
						</td>
						<td> <a data-role="button" data-click="app.Update.showImage" class="btn-continue" style="margin: 20px; padding:10px">
                                Change the Avatar!
                            </a>
							<div> <textarea id="newEventText" padding="10px" style="background-color: azure;font-style: italic;" data-bind="text: DisplayName"
									placeholder="Name the Image?" required validationMessage="Add a Name!"></textarea>
								<!--<a class="btn" data-align="right" data-role="button" data-bind="click: saveActivity" style="margin: 20px; padding:10px">Save this Image</a>--></div>
						</td>
					</tr>
				</table>
			</li>
			<li> <b>
                    Joined:
                    <input type="date" id="updateBirthDatePicker" data-bind="value: BirthDate">
                </b> </li>
			<li class="select-wrp"> <b><label>
                    Language:
                    <select id="updateGenderPicker" data-bind="value: languageState">
                        <option value="1">English</option>
                        <option value="2">Le Français</option>
                        <option value="3">Deutsch</option>
                        <option value="4">Português</option>
                        <option value="5">Español</option>
                        <option value="6">Nederland</option>
                    </select>
               </label> </b></li>
			<li class="select-wrp"> <b>
                    Service Level:
                    <select id="updateLevelPicker" data-bind="value: Level">
                        <option value="1">Free Member Services</option>
                        <option value="2">Member + Extended media & no Ads</option>
                        <option value="3">Partner with Notification Option</option>
                        <option value="4">Partner Customization Services</option>
                    </select>
                </b> </li>
			<!--li class="select-wrp" > <b><font size=3> <label data-bind="text: autoBlogText"/></font>
				<font size="3" color="red" data-bind="invisible: autoBlogState"> OFF </font>
				<font size="4" color="green"  data-bind="visible: autoBlogState"> ON </font>
      	</b> <input id="#:name#-switch" data-role="switch" data-bind="events: { change: onBlogChange }, checked: autoBlogState"
					data-on-label="ON" data-off-label="OFF" /> </li-->
			<li class="select-wrp"> <b><font size=3> <label data-bind="text: rememberMeText"></label></font>
				<font size="3" color="red" data-bind="invisible: rememberMeState"> OFF </font>
				<font size="4" color="green"  data-bind="visible: rememberMeState"> ON </font>
      	</b> <input id="#:name#-switch" data-role="switch" data-bind="events: { change: onRememberChange }, checked: rememberMeState"
					data-on-label="ON" data-off-label="OFF" /> </li>
			<li class="select-wrp"> <b><font size=3> <label data-bind="text: notificationsText"></label></font>
				<font size="3" color="red" data-bind="invisible: notificationsState"> OFF </font>
				<font size="4" color="green"  data-bind="visible: notificationsState"> ON </font>
      	</b> <input id="#:name#-switch" data-role="switch" data-bind="events: { change: onNotificationsChange }, checked: notificationsState"
					data-on-label="ON" data-off-label="OFF" /> </li>
		</ul>
		<div class="button-group" style="margin-top:-25px" > <a class="btn-login" data-role="button" href="#views/mapView.html"> 
				Cancel
				</a> 
            <a class="btn-continue" data-role="button" href="#views/mediaView.html"> 
				Options
				</a> 
            <a class="btn-register" data-role="button" data-click="app.Update.update">
                Update</a> </div>
	</font></form>
	<div data-role="view" data-model="app.registerNotify">
		<p>Hardware: #: hardware #</p>
	</div>
</div>