<div id="users-list" class="view users-list" data-role="view" data-model="app.Users" data-title="Users">
    <div data-role="header">
        <div data-role="navbar">
            Users
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button" data-badge="2"></a>
            <a id="addButton" class="nav-button" data-align="right" data-role="button" data-click="app.Users.handleSendAction">Send</a>
        </div>
    </div>

    <ul id="users-list-view" class="users-list-view" data-bind="source: admin" data-template="users-template" data-role="listview" data-
        ></ul>

</div>

<script id="users-template" type="text/x-kendo-template">
    <div data-bind="attr: { class: isSelectedClass }">#: Role # - #: DisplayName #</div>
</script>