<div data-role="view" data-title="Add" data-model="app.activities.addItemViewModel" data-bind="events: { show: onShow }" id="activitiesModelAddItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_activitiesModel -->
    <!-- END_CUSTOM_CODE_activitiesModel -->
    <div id="editableListForm16" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Title</span>

                        <input id="textField1" data-bind="value: addFormData.textField1" placeholder="Type here ..." type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Description</span>

                        <input id="textField3" data-bind="value: addFormData.textField3" placeholder="Type here ..." type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Notes</span>

                        <input id="textField2" data-bind="value: addFormData.textField2" placeholder="Type here ..." type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Status</span>

                        <input id="switch" data-bind="value: addFormData.switch" data-role="switch">
                    </label>

                </li>
                <li class="form-content-item">

                    <label>

                        <span>Price</span>

                        <input id="number" data-bind="value: addFormData.number" type="number">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span>Picture</span>

                        <input id="url" data-bind="value: addFormData.url" placeholder="http://www.example.com" type="url">
                    </label>

                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm16 -->
        <!-- END_CUSTOM_CODE_editableListForm16 -->
    </div>
</div>