<div data-role="view" data-title="Activities" data-layout="main" data-model="app.activities" data-show="app.activities.onShow" data-after-show="app.activities.afterShow">

	<!-- START_CUSTOM_CODE_activities -->
	<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

	<!-- END_CUSTOM_CODE_activities -->
	<header data-role="header">
		<div data-role="navbar" class="header-text">

			<span data-role="view-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>

			<!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->

			<a data-role="backbutton" data-align="left">Back</a>
		</div>
	</header>

	<!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
	<form class="km-filter-form custom-filter">
		<div class="km-filter-wrap">
			<input type="search" placeholder="Search..." data-bind="{events:{keyup: activitiesModel.searchChange}}">
		</div>
	</form>
	

		<div class="demo" data-model="app.demoService.viewModel">
			<h3>Share via any available app</h3>
		<button data-role="button" class="button" data-bind="click: shareMessageAndSubject">Message and subject</button>
			<button data-role="button" class="button" data-bind="click: shareImage">Image</button>
			<button data-role="button" class="button" data-bind="click: shareMessageAndURL">Message and URL</button>
			<br/>

			<h3 class="hassubtitle">Sharing via a specific app</h3>
			<div class="subtitle">
				For iOS and Android only
			</div>
			<button data-role="button" class="button" data-bind="click: tweetSelfie">Tweet a selfie</button>
			<button data-role="button" class="button" data-bind="click: shareMessageAndURLViaTwitter">Tweet a message and link</button>
			<button data-role="button" class="button" data-bind="click: shareImagesViaFacebook">Share multiple images to Facebook</button>
			<button data-role="button" class="button" data-bind="click: shareMessageAndImageViaFacebook">Share message and image to Facebook</button>
			<button data-role="button" class="button" data-bind="click: shareMessageViaWhatsApp">WhatsApp a message</button>
			<button data-role="button" class="button" data-bind="click: shareMessageViaSMS">SMS a message</button>
			<br/>

			<h3>Share via email</h3>
			<button data-role="button" class="button" data-bind="click: shareViaEmail">Compose an email</button>
		</div>
	
	<ul data-role="listview" data-auto-bind="false" data-style="inset" data-template="activitiesModelTemplate" data-bind="{ source: activitiesModel.dataSource, events: {click: activitiesModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="false">
	</ul>
	<!-- START_CUSTOM_CODE_activitiesModel -->
	<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

	<!-- END_CUSTOM_CODE_activitiesModel -->
	<script type="text/x-kendo-template" id="activitiesModelTemplate">
		<h3>#: data['Title'] #</h3>
		<div class="image-with-text">
			<img src="#: data['PictureUrl'] #" width="30%" height="30%">
			<p>
				<i>#: data['Text'] #</i>
			</p>
			<p>
				<small>#: app.formatDate(data['Date']) #</small>
			</p>
		</div>
	</script>
</div>